//Button rounded
@mixin rounded--button($color: inherit, $radius: 0, $position: relative, $bg-color: inherit, $padding : 0) {
  color: $color;
  border-radius: $radius;
  position: $position;
  background-color: $bg-color;
  padding: $padding;
}

@mixin proto--btn( $bg-color: $helper-color, $color: $white, $radius: 0 ) {
  text-transform: uppercase;
  max-width: 100%;
  display: block;
  border: 1px solid $bg-color;
  box-sizing: border-box;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  
  @include rounded--button(  $color, $radius, relative, $bg-color, 17px 37px);
  @include font-source-sans( $regular, $color, 600, 1, $main-font );
  
  &:hover,
  &:focus {
    background-color: $transparent;
    border-color: $bg-color;
    color: $color;
  }
}

@mixin color--btn( $bg-color, $color ) {
  .#{$color}-btn {
    @include proto--btn( $bg-color, $color );
  }
}
