/** Colors **/
$transparent:       transparent;
$dark:              #1B1B1B;
$light:             #ddd;
$black:             #000;
$white:             #fff;
$orange:            #ff8108;
$helper-color:      #00AFAF;

/** Sizes **/
$oversize: 70px;
$big: 48px;
$middle: 35px;
$middler: 24px;
$regular: 20px;

/** Font weight **/
$weight-light:   300;
$weight-lighter: 400;
$weight-normal:  500;
$weight-middler: 600;
$weight-bolder: 700;
$weight-bold: bold;

/** Line-heights **/
$line-normal: 1;
$line-middler: 36px;
$line-middle:  43px;
$line-larger:  51px;

/** Font-family **/
$main-font:      'Montserrat', sans-serif;
$secondary-font: '', sans-serif;
$cursive: 'Qwigley';
$helper-font: 'Calama Regular';