html,
body {
  $colorTwo: $helper-two;
  background-color: lighten(transparentize( $colorTwo, .3 ), .1);
  //background-color: rgba( $colorStrTwo, .8 );
  background-attachment: fixed;
}

$colorTwo:   var(--colorTwo, $helper-two); 

@include editor--elements;
@include editor--gtn;

@media (min-width: 1200px) {
  .container {
    min-width: 1150px;
  }
}

@media (min-width: 1366px) {
  .container {
    min-width: 1200px;
  }
}

#content {
  min-height: calc(100vh - 250px);
  background-color: $transparent;
}

.site-container {
  @include mq('laptop', min) {
     padding: 0 90px;
  }
}

section {
  width: 100%;
  position: relative;
  padding: 40px 0;
  
  &:first-child {
    padding-top: 120px;
    
    @include mq('extra-tablet', min) {
      padding-top: 160px;
    }
  }
  
  @include mq('extra-tablet', min) {
    padding: 80px 0;
    
    &:first-child {
      margin-top: 220px;
    }
  }
  
  *.title {
    &, 
    * {
      @include editor--headers( $secondary-font, $colorText, $colorThree, true, true, $colorTwo, $colorText );
    }
  }
}

.button,
%button {
  @include proto--btn( $helper-five, $colorText, 20px );
  
  &:after {
    content: none;
  }
}

h1,
h2,
h3,
h4,
address {
  margin: 0;
}

video,
section>iframe {
  height: 100%;
  border: 0;
  outline: none;
  width: 100%;
  position: relative;
}
