ul, 
ol,
li,
.menu {
  &,
  &:not(.wp-submenu) {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.img-inner{
    @include push--auto;
    object-fit: contain;
}
p{
    word-break: break-all;

    @include font-source-sans( $middler, $white, 500,  1.3, $main-font );
}
a{
    &, 
    &:hover, 
    &:focus, 
    &:visited {
        transition: 0.3s;
        text-decoration: none;
        outline: none;
        font-size: $regular;
    }
  
    &,
    &:visited {
      color: $white; 
    }
  
    &:hover,
    &:focus {
      color: $helper-color;
    }
}

section{
    padding: 40px 0;
    width: 100%;
    position: relative;
  
  @include mq('extra-tablet', min) {
    padding: 80px 0;
  }
  
  &.full-height-block {
    min-height: 100vh;
  }
}

.button,
%button {
  @include proto--btn;
}

/** Ajax loader **/
.load-more .button{
    display: inline-flex;
    align-items: flex-end;
    &:after{
        content: '';
        width: 33px;
        height: 11px;
        position: relative;
        bottom: 5px;
        left: 3px;
        background-image:  url(../img/icons/dotted-loader.gif);
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
    }
    &.active{
        &:after{
            display: block;
        }
    }
}

.load-loder{
    height: 50px;
    width: 100%;
    padding: 10px 0;
    &:after{
        content: '';
        margin-left: auto;
        margin-right: auto;
        background-image:  url(../img/ajax-loader.gif);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: none;
    }
    &.active{
        &:after{
            display: block;
        }
    }
}

/** Slick slider **/
.slick-prev {
  left: 0;
  
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slick-next {
  right: 0;
  
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}