ol.menu,
ul.menu,
menu.menu,
menu,
.menu {
  &,
  &:not(.wp-submenu) {
    margin: 0;
    padding: 0;
  }
  
  list-style: none;
}

.img-inner{
    @include push--auto;
    object-fit: contain;
}
p{
    word-break: break-word;

    @include font-source-sans( $middler, $colorText, 500,  1.6, $main-font );
}
a{
    &, 
    &:hover, 
    &:focus, 
    &:visited {
        transition: 0.3s;
        text-decoration: none;
        outline: none;
        font-size: $regular;
    }
  
    &,
    &:visited {
      color: $colorText; 
    }
  
    &:hover,
    &:focus {
      color: $colorThree;
    }
}

section{
  box-shadow: 0 -5px 30px -5px rgba(0,0,0,0.3);
  padding: 40px 0;
  width: 100%;
  position: relative;
  
  @include mq('extra-tablet', min) {
    padding: 80px 0;
  }
  
  @include editor--elements;
  @include editor--gtn;
  @include editor--headers( $secondary-font, $colorText, $colorThree, true, true, $colorTwo, $colorText );
  @include editor--subheaders($helper-font, $colorThree, true);
  @include editor--block-title;
  
  &.site-container {
    padding-top: 40px;
    padding-bottom: 40px;
    
    @include mq('extra-tablet', min) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  
  &.full-height-block {
    min-height: 100vh;
  }
  
  &:nth-of-type(2n+3) {
    background-color: $dark;
    
    * {
      color: $white;
    }
    
    .button,
    .wp-block-button__link {
      border-color: $colorTwo;
      color: $colorText;
      box-shadow: 1px 5px 9px rgba(255, 255, 255, .5);
      background-color: $colorTwo;
      
      &:hover,
      &:focus {
        color: $colorTwo;
        background-color: transparent;
      }
    }
    
    ul>li,
    ol>li {
      color: $colorTwo;
    }
    
    @include editor--headers( $secondary-font, $white, $colorThree, true, true, $dark, $colorTwo );
    @include editor--subheaders($helper-font, $colorThree, true);
  }
  
  &:nth-of-type(4n+3) {
    background-color: $colorFive;
    
    * {
      color: $colorText;
    }
    
    .button,
    .wp-block-button__link {
      border-color: $colorThree;
      color: $colorThree;
    }
    
    a:hover,
    a:focus {
      color: $white;
    }
    
    @include editor--headers( $secondary-font, $dark, $white, true, true, $colorFive, $colorTwo );
    @include editor--subheaders($helper-font, $white, true);
  }
  
  section {
    box-shadow: none;
  }
  
  ul {
    padding-left: 20px;
  }
}

.button,
%button {
  transition: .3s;
  box-shadow: 1px 5px 9px rgba(0, 0, 0, .5);
  
  @include proto--btn( $helper-five, $colorText, 20px );
  
  &:after {
    content: none;
  }
  
  &:focus,
  &:hover {
    box-shadow: 0 2px 9px rgba(0, 0, 0, .5);
  }
}

/** Ajax loader **/
.load-more .button{
    display: inline-flex;
    align-items: flex-end;
    &:after{
        content: '';
        width: 33px;
        height: 11px;
        position: relative;
        bottom: 5px;
        left: 3px;
        background-image:  url(../img/icons/dotted-loader.gif);
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
    }
    &.active{
        &:after{
            display: block;
        }
    }
}

.load-loder{
    height: 50px;
    width: 100%;
    padding: 10px 0;
    &:after{
        content: '';
        margin-left: auto;
        margin-right: auto;
        background-image:  url(../img/ajax-loader.gif);
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        display: none;
    }
    &.active{
        &:after{
            display: block;
        }
    }
}

/** Slick slider **/
.slick-prev {
  left: 0;
  
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slick-next {
  right: 0;
  
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}