.flex-card-list {
  
  @include mq('mobile', max) {
    grid-template-columns: 1fr;
  }
  
  &__card {
    min-height: 265px;
    position: relative;
    transition: .3s;
    border: solid 1px $transparent;
    box-sizing: border-box;
    
    @include push--auto;
    @media screen and (min-width: 767px) and ( max-width: 900px ) {
      min-height: 208px;
    }
    
    @include mq('laptop', min) {
      min-height: 395px;
    }
    
    &:hover,
    &:focus {
      border-color: $helper-color;
    }
    
    & {
      &__img,
      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        z-index: 1;

        @include push--auto;
      }
      
      &__title {
        text-transform: uppercase;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;

        @include push--auto;
        
        &,
        * {
          @include font-source-sans( $middler - 4px, $white, bold, 1.2, $main-font);
          @include mq('laptop', min) {
            font-size: $middle;
          }
        }
      }

      &__text {
        @include push--auto;
        
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        
        &,
        * {
          @include font-source-sans( $middler - 8px, $white, 700, 1.2, $main-font);
          @include mq('extra-tablet', min) {
            font-size: $middler;
          }
        }
      }

      &__text_hover {
        @include push--auto;
        
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        transition: 0.3s;
        display: none;
        
        &,
        * {
          @include font-source-sans( $middler - 8px, $white, normal, 1.2, $main-font);
          @include mq('extra-tablet', min) {
            font-size: $middler;
          }
        }
      }
    }
    
    &:hover,
    &:focus {
      &__text_hover,
      .flex-card-list__text_hover {
        display: block;
      }
      
      &__text,
      .flex-card-list__text {
        display: none;
      }
    }
  }
}
