@mixin custom--sprite( $width, $height, $url ) {
  .icon {
    width:  $width;
    height: $height;
    float: left;
    cursor: pointer;
    background-image: $url;
  }
}

@mixin custom--spr-child( $class, $position ) {
  .icon.$class {
    background-position: $position;
  }
}